.button {
    -fx-background-color: #8e44ad;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 5, 0.3, 2, 2);
    -fx-cursor: hand;
    -fx-transition: 0.3s;
}

.button:hover {
    -fx-background-color: #9b59b6;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 7, 0.5, 3, 3);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.button:pressed {
    -fx-background-color: #6c3483;
    -fx-effect: none;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

